Flask==2.3.3
requests==2.31.0
beautifulsoup4==4.12.2
fake-useragent==1.4.0
Flask-CORS==4.0.0
python-telegram-bot==20.7
urllib3==1.26.18
lxml==4.9.3
soupsieve==2.5
certifi==2023.7.22
charset-normalizer==3.3.2
idna==3.4
